@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,900;1,500;1,700&display=swap');

*{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  top: 50%;
  left: 50%;
  position :absolute;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 256px;
  text-align: center;
  border: 10px solid #101116;
  background: #101116;


}
.result1{
  color:white;
}